.bar-container {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 400px;
}

.bar {
    width: 4px;
    background-color: #1a41ac;
    display: inline-block;
    margin: 0 2px;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 0px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #e4d1f2;
    min-width: 90%;
    z-index: 1;
    border-radius: 5px;
    left: 50%; 
    transform: translateX(-50%);
}

.dropdown-content button {
    color: black;
    padding: 12px;
    margin: 0;
    text-decoration: none;
    display: block;
    background: none;
    width: 100%;
    text-align: center;
    transform: none;
}

.dropdown-content button:hover {
    background-color: #d9c4ec
}

.dropdown:hover .dropdown-content {
    display: block;
}